requests
flask
git+https://github.com/akhlakm/python-logg.git
pandas
sqlalchemy >= 2.0
psycopg2-binary
sshtunnel
python-dotenv
pyenv-encrypt
safetensors
datasets
sentencepiece
git+https://github.com/huggingface/transformers
accelerate
triton
texttable
toml
numpy
protobuf
